@media only screen and (min-width: 768px) {
  .mdl-grid {
    max-width: 768px;
  }
}
html {
  position: relative;
  max-height: 100%;
}
dialog {
  max-height: 100%;
  overflow: auto;
}
.notyetvisibile {
  display: none !important;
}
